#intro {
    font-family: "Arcade";
    font-size: 20px;
    position: absolute;
    z-index: 1;
    background: url("https://we-camp-seeds.s3.us-east-2.amazonaws.com/pokemon-forest-background.png");
    background-position: 600px 800px;
    width: 1090px;
    height: 700px;

    margin: auto;
    left: 10%;
    border:none;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
}

#intro img {
    margin-top: 100px;
    width: 200px;
    height: 200px
}


@font-face {
    font-family: "Arcade";
    src: url("../fonts/arcadeclassic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    text-align: center;
    height: 100vh;
    background: url("https://we-camp-seeds.s3.us-east-2.amazonaws.com/bulbasaur_background.jpg");
    background-repeat: no-repeat;
}

canvas {
    z-index: 0;
    border:none;
    margin: auto;
    position: absolute;
    left: 10%;
    border:none;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.title {
    font-family:'Fredoka One', cursive;
    font-size: 40px;
    color: brown;
    padding: 20px;
    margin: auto;
    margin-top: 35px
}

.canvas-container {
    position: relative;
    margin-left: 150px;
    margin-top:20px
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

@keyframes blinkingText {
     0%{     color: black;    }
    50%{    color: transparent; } 
    100%{   color: black;    }
}

.main {
    display: flex;
    justify-content: space-between;
}

.info-section {
    margin-right: 200px;
    margin-top:50px;
}

.instruction {
    font-family: "Arcade";
    font-size: 30px;
    list-style: none;
    border: 5px dashed black;
    padding: 20px
}

.instruction li {
    margin-bottom: 10px;
    text-align: left;
}

.instruction li:last-of-type {
    margin-top: 40px;
}


.instruction img {
    width:60px;
    height: 60px;
}

#arrow-key {
    width: 100px;
    height: 60px
}

.nav-links {
    display: flex;
    margin-left: 150px;
}

.nav-links a:first-child {
    margin-right: 30px;
}

.nav-links a:hover {
    color: brown
}

.info-section h1 {
    font-family:'Fredoka One', cursive;
    font-size: 25px;
    color: brown;

}

